<app-loading *ngIf="isLoading"></app-loading>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Artista</span>
            </div>
            <input #terminoBusqueda type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                (keyup)="buscarArtista( terminoBusqueda.value )">
          </div>
    </div>
</div>

<app-tarjeta [elementos]="artists"></app-tarjeta>

<!-- <div class="card-columns">
    <div class="card" *ngFor="let artist of artists">
      <img [src]="artist.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artist.name }}</h5>
        <p class="card-text"><span *ngFor="let genre of artist.genres" class="badge badge-pill badge-info">{{ genre }}</span></p>
      </div>
    </div>
</div> -->